<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Privacy policy</title>
</head>
<body>
    <main class="container">
        <h2 class="container__header container__h2--text-center">
            Privacy policy
        </h2>
        <article class="container__content container__content--text-center">
            No privacy policy.
        </article>
    </main>
</body>
</html>