<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Terms of Service</title>
</head>
<body>
    <main class="tos__container">
        <h2 class="tos__container__header tos__container__h2--text-center">
            Terms of Service
        </h2>
        <article class="tos__container__content tos__container__content--text-center">
            No terms of service. 
        </article>
    </main>
</body>
</html>